.date {
    font-size:2em;
    text-align:center;
}

.month {
    font-size:0.75em;
    text-align:center;
}

.year {
    font-size:0.75em;
    text-align:center;
    line-height: 1.5;
}

.msg {
    white-space: normal;
}