<ion-item-sliding>
  <ion-item text-wrap>
    <ion-grid no-padding>
      <ion-row align-items-center>
        <ion-col col-2>
          <div class="date">
            <span>{{date}}</span>
          </div>
          <div class="small">{{month}} {{year}}</div>
        </ion-col>
        <ion-col>
          <p class="msg">{{content}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item-options>
    <button ion-button color="danger" (click)="deleteLeave()">
      <ion-icon name="trash"></ion-icon>
      Delete
    </button>
  </ion-item-options>
</ion-item-sliding>