<ion-header>

  <ion-navbar>
    <ion-title>Leave</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card>
    <ion-card-header color="primary">
      April 2017
    </ion-card-header>
    <hr/>
    <ion-list >
      <!-- <day-msg-item day="{{leave.day}}" date="leave.date" content="leave.content"></day-msg-item> -->
      <p *ngFor="let leave of leaves | async">{{leave.content}}</p>
    </ion-list>
  </ion-card>
  <div *ngFor="let leave of leaves | async">
    {{leave}}
  </div>
</ion-content>
